/* ------------------------ Default ------------------------ */

* { 
    margin:0
}

a:hover {
    cursor: pointer;
}

input[input-numeric], input[ui-date] {
    width: 120px;
}

input[ui-date] {
    display: inline-block;
}

.ui-datepicker {
    width: auto;
}

.ui-datepicker-trigger {
    cursor: pointer;
    margin-left: -25px;
}

input[type="checkbox"] {
    cursor: pointer;
}

span[uib-popover] {
    cursor: pointer;
}

/* ------------------------ Class ------------------------ */

/* ------------------------ Id ------------------------ */

#formLogin {
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: black;   
    padding: 20px 30px 0px 30px;
}

/* ------------------------ Directives ------------------------ */

/* ------------------------ AngularJS ------------------------ */

/* Hide Angular JS elements before initializing */
.ng-cloak {
    display: none;
}

.view-animate {
    margin-top: 70px;
}

.view-animate.ng-enter, 
.view-animate.ng-leave {
    transition: all 0.4s linear 0.4s;
    display: block;
    position: absolute;
    left: 0;
    right: 0; 
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}

/* ------------------------ Bootstrap ------------------------ */

*[class^='col-'] {
    padding-left: 0px;
    padding-right: 5px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 5px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav > li:hover {
    background-color: #83acca;
}

/* ------------------------ UI Bootstrap ------------------------ */

/*
.modal {
    z-index: 99999 !important;
}

.modal-backdrop {
    z-index: 99998 !important;
}
*/

.modal-content {
    width: 800px;
}

.modal-header h3 {
    color: white;
}

.modal-header-info {
    background-color: #5bc0de;
}

.modal-header-danger {
    background-color: #d9534f;
}

.modal-header-warning {
    background-color: #f0ad4e;
}

.modal-open {
    overflow: auto;
}

.panel-body {
    padding: 15px 15px 0px 15px;
}

.panel-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}