
<div ng-show="viewType === 'list'">
    <div>
        <h4 style="display: inline-block">Funcionários <span class="badge">{{itensFiltered.length}}</span></h4>
    </div>

    <form class="form-inline" style="margin-bottom: 10px;" novalidate>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lista-action" ng-click="add()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Incluir
            </button>
            <button type="button" class="btn btn-primary btn-lista-action" ng-disabled="!selectedItem" ng-click="edit(selectedItem)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
            </button>
            <button type="button" class="btn btn-danger btn-lista-action" ng-click="delete(selectedItem.id)" ng-disabled="!selectedItem">
                <span class="glyphicon glyphicon-remove-circle"></span> Excluir
            </button>

            <div class="input-group" style="width: 300px">
                <span class="btn-search input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" id="search" name="search" class="form-control" placeholder="Nome" autofocus ng-model="filter" ng-change="applyFilter()">
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class='table table-bordered table-striped table-hover table-condensed table-itens' style="max-width: 600px" >
            <thead>
                <tr>
                    <th style="width: 25px;"></th>
                    <th style="width: 25px;">#</th>
                    <th style="min-width: 300px">Nome</th>
                    <th>Data de Nascimento</th>
                </tr>
            </thead>
            <tbody>    
                <tr ng-repeat="item in itensFiltered | orderBy: 'name' track by $index" style="cursor: pointer" 
                            ng-click="setSelectedItem(item)" ng-dblclick="edit(item)" >
                    <td class="text-center text-success"><span ng-if="item.selected" class='glyphicon glyphicon-ok'></span></td>
                    <td class="text-center">{{$index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.dtNasc | date : 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(function() {
            setTimeout(function() {
                cursorToEnd($("#search"));
            }, 500);
        });
    </script>
</div>

<div ng-show="viewType !== 'list'">
    <h4>
        <a ng-click="back()">
           <span class="glyphicon glyphicon-arrow-left btn-success btn-xs" title="Voltar" uib-tooltip="Voltar"></span>
        </a>
        {{item.id ? 'Alteração' : 'Inclusão'}}
    </h4>

    <br/>

    <div class="container-fluid" >
        <div class="col-sm-6">
            <form class="form-horizontal" name="formCrud" ng-submit="submitForm()" novalidate >
                <div class="form-group" ng-class="{'has-error' : hasErrorNome = (formCrud.$submitted && formCrud.nome.$invalid)}">
                    <label class="col-sm-3 control-label" title="Nome">Nome</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="item.name" id="nome" name="nome" class="form-control" autofocus="true" required 
                               uib-tooltip="{{MESSAGES.REQUIRED}}" tooltip-enable="hasErrorNome">
                    </div>
                </div>   
                
                <div class="form-group" ng-class="{'has-error' : hasErrorDtNasc = (formCrud.$submitted && formCrud.dtNasc.$invalid)}">
                    <label class="col-sm-3 control-label" title="Data de Nascimento">Data de Nascimento</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="item.dtNasc" id="dtNasc" name="dtNasc" class="form-control" required ui-date="DATE_OPTIONS"
                               uib-tooltip="{{MESSAGES.REQUIRED}}" tooltip-enable="hasErrorDtNasc">
                    </div>
                </div>    
                
                <div class="form-group" ng-class="{'has-error' : hasErrorSalario = (formCrud.$submitted && formCrud.salario.$invalid)}">
                    <label class="col-sm-3 control-label" title="Salário">Salário</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="item.salario" id="salario" name="salario" class="form-control" required input-numeric="2"  
                               uib-tooltip="{{MESSAGES.REQUIRED}}" tooltip-enable="hasErrorSalario">
                    </div>
                </div>                   
                
                <div class="row text-center">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Salvar</button>
                    <button type="button" class="btn btn-warning" ng-click="back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> Cancelar</button>
                </div>
            </form>
        </div>
    </div>  
</div>