<!DOCTYPE html>
<html lang="pt-BR" ng-app="AngularJSApp" ng-controller="AppController" class="ng-cloak">
    <head>
        <title>AngularJSExample</title>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
        <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type='text/css'>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <script type="text/ng-template" id="modalMessage.html">
            <div class="modal-header" ng-class="{'modal-header-danger': (tipo === MODAL_MESSAGE.DANGER), 'modal-header-info': (tipo === MODAL_MESSAGE.INFO), 'modal-header-warning': (tipo === MODAL_MESSAGE.QUESTION)}">
                <h3 class="modal-title" ng-if="tipo === MODAL_MESSAGE.DANGER">Erro</h3>
                <h3 class="modal-title" ng-if="tipo === MODAL_MESSAGE.INFO">Informação</h3>
                <h3 class="modal-title" ng-if="tipo === MODAL_MESSAGE.QUESTION">Atenção</h3>
            </div>
            <div class="modal-body">
                <span>{{mensagem}}</span>
            </div>
            <div class="modal-footer" ng-if="tipo !== MODAL_MESSAGE.QUESTION">
                <button class="btn btn-primary" type="button" ng-click="close()"
                    ng-class="{'btn-danger': (tipo === MODAL_MESSAGE.DANGER), 'btn-info': (tipo === MODAL_MESSAGE.INFO)}">OK</button>
            </div>
            <div class="modal-footer" ng-if="tipo === MODAL_MESSAGE.QUESTION">
                <button class="btn btn-success" type="button" ng-click="yes()">Sim</button>
                <button class="btn btn-danger" type="button" ng-click="no()">Não</button>
            </div>
        </script>                  
        
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" ng-if="loggedUser">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <span class="navbar-brand">AngularJSExample{{(loggedUser ? ' - ' + loggedUser.name : '')}}</span>
                    </div>
                    
                    <div id="navbar" class="navbar-collapse collapse" ng-if="loggedUser">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-click="logoff()"><a>Sair <span class="glyphicon glyphicon-off"></span></a></li>
                        </ul>
                    </div>                
                </div>
            </nav>  
        </header>

        <div class="container-fluid">
            <div ng-view class="view-animate"></div>
        </div>        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-touch.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/i18n/angular-locale_pt-br.js"></script>    
        
        <script src="js/lib/datepicker-pt-BR.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-date/1.0.1/date.min.js"></script>
        <script src="js/lib/ui-bootstrap-tpls-2.2.0.min.js"></script>
        <script src="js/lib/input-numeric.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
